body {
    margin:0;
    padding: 0;
}

.private-list {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
}
  
.list-item {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}

.list-item:hover {
    background-color: #F1F1F1;
    border-radius: 10px;
}


.private {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
  }


.number {
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #FFFFFF;
}

  
.list-container {
    margin-left: 10px;
}

.checkbox {
    width: 20px;
    margin: 0;
    height: 20px;
    border-radius: 20px;
}

.active {
    background-color: #F1F1F1;
    border-radius: 10px;
}